# Node
node_modules
.pnpm-store
.npm

# Next.js
.next
out
build

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Env files
.env
.env.local
.env.development.local
.env.production.local