@import "tailwindcss";

.nav {
  @apply flex flex-row m-2 items-center justify-between;
}

.home {
  @apply flex flex-col gap-2 m-2;
}

.details {
  @apply flex flex-col gap-4 m-2;
}
.details h1 {
  @apply text-6xl;
}
