version: "3.9"

services:
  backend:
    build:
      context: ./server
      dockerfile: Dockerfile.dev
    container_name: server_dev
    volumes:
      - ./server:/app
    ports:
      - "8080:8080"
    environment:
      - ENV=development
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    container_name: next_frontend_dev
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
    restart: unless-stopped
